<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
	<script src="bundle.js"></script> <!-- File output by babel-->
</head>
<body>
	
	<div id="root">
		<!-- Outputs server string as HTML using the EJS variable "content"-->
		<!-- Output by client (react) OR server (node), whichever is faster -->
		${content}
	</div>
</body>
</html>